<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1 class="mx-24 my-24">
        Hello World
    </h1>
    <div class="absolute inset-0 z-50 w-screen min-h-screen bg-gray-900/20">
        <div class="relative px-8 py-6 mx-auto bg-white rounded-lg shadow-md mt w-fit max-w-7xl top-36 drop-shadow shadow-gray-400/20">
            <!-- Header -->
            <div>
                <h2 class="text-4xl font-bold uppercase text-slate-700">Ini Header</h2>
            </div>
            <div class="mt-4">
                <span>Ini content</span>
            </div>
        </div>
    </div>
</body>
</html>
